<!doctype html>
<html lang="uk"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>test</title>
    <style>
        @keyframes borderFlow {
            0% {
                background-position: 0% 50%;
            }
            100% {
                background-position: 200% 50%;
            }
        }

        .song-border {
            transition: all 0.3s ease;
        }

        .song-card.active .song-border {
            background: linear-gradient(90deg, #22c55e, #15803d, #22c55e);
            background-size: 200% 200%;
            animation: borderFlow 3s linear infinite;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-3xl font-bold mb-4 text-gray-900 text-center">
        Список пісень
    </h1>
    <div th:if="${#lists.isEmpty(songs)}">
        <p class="text-gray-500">Пісні відсутні</p>
    </div>
    <div th:if="${!#lists.isEmpty(songs)}" class="space-y-4 relative">

<!--        Плеєр-->
        <div id="player-card" class="z-50 transition-transform duration-500 ease-in-out translate-y-full shadow border border-2 border-b-0 border-white fixed bottom-0 left-1/2 -translate-x-1/2 w-full max-w-3xl bg-gradient-to-r from-green-500 to-green-700 p-2 px-4 rounded-t-3xl">
            <div>
                <button onclick="hidePlayerCard()"
                        class="text-white group hover:text-green-200 transition w-full">
                    <span class="flex justify-center group-hover:bg-black/10 group-hover:shadow transition duration-200 rounded-2xl">
                        <svg class="group-hover:scale-125 transition duration-200" xmlns="http://www.w3.org/2000/svg" width="34" height="24" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    </span>

                </button>
            </div>
            <div class="flex justify-between px-3">
                <h3 id="player-song-name" class="text-xl font-bold text-white mb-2"></h3>
                <p class="text-gray-100">
                    <span id="player-song-artist" class="font-semibold"></span>
                </p>
            </div>

            <audio id="player" controls class="w-full shadow rounded-full"></audio>
        </div>

        <div th:each="song : ${songs}"
             class="border border-gray-300 rounded-3xl p-4 bg-white shadow-sm hover:shadow-md transition duration-200"
        >
            <div class="song-card">
                <div class="song-border p-[3px] rounded-3xl transition duration-200">
                    <div class="bg-gray-100 rounded-3xl p-4 ps-5 flex justify-between">
                        <div>
                            <h2 class="text-xl font-bold text-gray-900 mb-2" th:text="${song.name}"></h2>
                            <p class="text-gray-700">
                                <span class="font-semibold">Виконавець:</span>
                                <span th:text="${song.artist}"></span>
                            </p>
                            <p class="text-gray-700">
                                <span class="font-semibold">Альбом:</span>
                                <span th:text="${song.album}"></span>
                            </p>
                            <div class="text-gray-700 line-clamp-1">
                                <span class="font-semibold">Жанри:</span>
                                <span th:each="g, stat : ${song.genres}">
                            <span th:text="${g.name}"></span>
                            <span th:if="${!stat.last}">, </span>
                        </span>
                            </div>
                        </div>
                        <div class="py-2 flex justify-center items-center">
                            <button
                                    class="bg-gradient-to-r from-green-500 to-green-700 transiton duration-200 hover:scale-110 shadow border border-2 border-white text-white p-7 rounded-full w-15 h-15 overflow-hidden flex justify-center items-center"
                                    th:attr="data-src=@{'/music/' + ${song.fileName}},
                                             data-name=${song.name},
                                             data-artist=${song.artist}"
                                    onclick="playSong(this)">
                                <svg class="play-icon absolute transition-all duration-300 transform scale-100 opacity-100 bi bi-play"
                                     xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                                     viewBox="0 0 16 16">
                                    <path d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"/>
                                </svg>
                                <svg class="pause-icon absolute transition-all duration-300 transform scale-0 opacity-0 bi bi-pause"
                                     xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5m4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div layout:fragment="scripts">
    <script >
        document.addEventListener("DOMContentLoaded", () => {
            let currentAudio = null;

            document.querySelectorAll("audio").forEach(audio => {
                audio.addEventListener("play", () => {
                    if (currentAudio && currentAudio !== audio) {
                        currentAudio.pause();
                    }
                    currentAudio = audio;
                });
            });
        });

        const player = document.getElementById("player");
        const playerCard = document.getElementById('player-card');
        let lastPlayIcon = null;
        let lastPauseIcon = null;
        let lastCard = null;


        function showPauseUI(play, pause) {
            play.classList.add('opacity-0', 'scale-0');
            play.classList.remove('opacity-100', 'scale-100');
            pause.classList.remove('opacity-0', 'scale-0');
        }

        function showPlayUI(play, pause) {
            play.classList.remove('opacity-0', 'scale-0');
            play.classList.add('opacity-100', 'scale-100');
            pause.classList.add('opacity-0', 'scale-0');
        }

        const hidePlayerCard = () => {
            playerCard.classList.add('translate-y-full')
            player.pause();
            if(lastCard)
                lastCard.classList.remove("active");
        }

        player.onplay = () => {
            if (lastPlayIcon && lastPauseIcon) showPauseUI(lastPlayIcon, lastPauseIcon);
        };

        player.onpause = () => {
            if (lastPlayIcon && lastPauseIcon) showPlayUI(lastPlayIcon, lastPauseIcon);
        };

        player.onended = () => {
            lastCard.classList.remove("active");
        };

        function playSong(btn) {
            const src = btn.getAttribute("data-src");
            const name = btn.getAttribute("data-name");
            const artist = btn.getAttribute("data-artist");
            const nameDisplay = document.getElementById('player-song-name');
            const artistDisplay = document.getElementById('player-song-artist');
            const absoluteSrc = new URL(src, document.baseURI).href;
            const pauseIcon = btn.querySelector('.pause-icon');
            const playIcon = btn.querySelector('.play-icon');
            const card = btn.closest(".song-card");

            playerCard.classList.remove("translate-y-full")

            if (lastCard && lastCard !== card) {
                lastCard.classList.remove("active");
            }
            card.classList.add("active");
            lastCard = card;

            if (player.src !== absoluteSrc) {
                if (lastPlayIcon && lastPauseIcon) {
                    showPlayUI(lastPlayIcon, lastPauseIcon);
                }
                nameDisplay.innerText = name;
                artistDisplay.innerText = artist;
                lastPlayIcon = playIcon;
                lastPauseIcon = pauseIcon;
                player.src = src;
                player.play();
            } else {
                if (player.paused) {
                    player.play();
                } else {
                    player.pause();
                }
            }
        }
    </script>
</div>

</body>
</html>